<template>
	<span id="categoryList">
		<section class="content">
	      <div class="row justify-content-center mt-2">
	        <div class="col-lg-8 col-md-8">
	          <div class="card card-primary">
	            <div class="card-header">
	              <h3 class="card-title">Add New Post</h3>
	              
	            </div>
	            <!-- /.card-header -->
	            <form role="form" @submit.prevent="addPost" @keydown="form.onKeydown($event)">
	                <div class="card-body">
	                  <div class="form-group">
	                    <label for="Post Title"> Post Title</label>
	                    <input type="text" v-model="form.title" class="form-control" name="title" placeholder="Enter Post Title" :class="{ 'is-invalid': form.errors.has('title') }">
	                    <has-error :form="form" field="title"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="Post Description"> Post Description</label>
	                    <textarea v-model="form.description" class="form-control" name="description" placeholder="Enter Post Description" :class="{ 'is-invalid': form.errors.has('description') }" rows="5"></textarea>

	                    <has-error :form="form" field="description"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="Category id">Select Category</label>
			                <select class="form-control" v-model="form.category_id" name="category_id" :class="{ 'is-invalid': form.errors.has('category_id') }">
			                  <option value="">Selece One</option>
			                  <option :value="category.id" v-for="category in getallCategories">{{category.category_name}}</option>
			                  
			                </select>
			                <has-error :form="form" field="category_id"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="photo">Photo</label>
			             <input @change="changePhoto($event)" type="file" name="photo" :class="{ 'is-invalid': form.errors.has('photo')}"> 
			                <has-error :form="form" field="photo"></has-error>
			                
	                  </div>
                        <img :src="this.form.photo" alt="" width="120px">

	                                         
	                </div>
	                <!-- /.card-body -->

	                <div class="card-footer">
	                  <button type="submit" class="btn btn-primary">Submit</button>
	                  <router-link to="/post" class="btn btn-info float-right">Cancel</router-link>
	                </div>
                </form>
	            <!-- /.card-body -->
	          </div>
	          <!-- /.card -->
	        </div>
	        <!-- /.col -->
	      </div>
      <!-- /.row -->
        </section>
	</span>
</template>
<script>
	export default{
		name: "PostNew",
		data(){
			return{
              form: new Form({
                  title:'',
                  description:'',
                  category_id:'',
                  photo:''
                
              })
			}
		},
		mounted(){
            this.$store.dispatch('allCategory')
		},
		computed:{
           getallCategories(){
          	  return this.$store.getters.getCategories;
          }
		},
		methods:{
           changePhoto(event){
               
               let file = event.target.files[0];
               if (file.size > 1048576) {
               	event.preventDefault();
               	Swal.fire({
				  icon: 'error',
				  title: 'No File Choosen. Choose Another One',
				  text: 'Your File Should Not More Than 1Mb!',
				})

               }else{
               	Swal.fire({
				  icon: 'success',
				  title: 'No File Successfully Choosen',
				  text: 'Your File Should Not More Than 1Mb!',
				})
               	let reader = new FileReader();
			  reader.onload = (e)=> {
			    // The file's text will be printed here
			    this.form.photo = e.target.result;
			    console.log(e.target.result)
			  };

			  reader.readAsDataURL(file);
			}               
           },
           addPost(){
           	 this.$Progress.start()
           	 this.form.post('/add-post')
           	 .then((response)=>{
                this.$router.push('/post');
                Toast.fire({
					icon: 'success',
					title: 'Post added successfully'
				})
                this.$Progress.finish()
           	 })
           	 .catch(()=>{
           	 	this.$Progress.fail()
           	 })
           }
		}
	}
</script>
<style scoper>
	
</style>
