<template>
	<span id="categoryList">
		<section class="content">
	      <div class="row justify-content-center mt-2">
	        <div class="col-lg-12 col-md-12">
	          <div class="card card-primary card-outline">
	            <div class="card-header">
	              <h3 class="card-title">Category List</h3>
	              <div class="card-tools">
	              	  <router-link to="/add-category" class="btn btn-primary">Add Category <i class="fa fa-user-plus" aria-hidden="true"></i></router-link>
	              </div>
	            </div>
	            <!-- /.card-header -->
	            <div class="card-body">
	              <table id="example1" class="table table-bordered table-striped">
	                <thead>
	                <tr>
	                  <th>Sl</th>
	                  <th>Category Nmame</th>
	                  <th>Date</th>	                  
	                  <th>Action</th>
	                </tr>
	                </thead>
	                         
	                <tbody>

	                <tr v-for="(category,index) in getallCategories" :key="category.id">
	                  <td>{{index+1}}</td>
	                  <td>{{category.category_name}}</td>
	                  <td>{{category.created_at | dateFormat}}</td>
	                  <td>
	                  	<router-link :to="`/edit-category/${category.id}`"><i class="fas fa-edit pink"></i></router-link> || 
	                  	<a href="#" @click.prevent="deleteCategory(category.id)"><i class="fa fa-trash red" aria-hidden="true"></i></a>
	                  </td>
	                </tr>
	                
	                </tbody>
	               
	              </table>
	            </div>
	            <!-- /.card-body -->
	          </div>
	          <!-- /.card -->
	        </div>
	        <!-- /.col -->
	      </div>
      <!-- /.row -->
    </section>
	</span>
</template>

<script>
   export default{
   	   name: "List",
   	   mounted(){
            this.$store.dispatch('allCategory')
   	   },
   	   computed:{
          getallCategories(){
          	  return this.$store.getters.getCategories;
          }
   	   },
   	   methods:{
         deleteCategory(id){
         	this.$Progress.start()
         	Swal.fire({
			  title: 'Are you sure?',
			  text: "You won't be able to revert this!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
			  if (result.value) {
			  	axios.get('/delete-category/'+id)
         	.then(()=>{
               this.$store.dispatch('allCategory')
               Swal.fire(
			      'Deleted!',
			      'Your file has been deleted.',
			      'success'
			    )
               this.$Progress.finish()
         	})  
         	.catch(()=>{
               this.$Progress.fail()
         	})
			    
			  }
			  
			})
         	
         }
   	   }
   }
</script>


<style scoped>

   th:last-child,td:last-child{
   	  text-align: center;
   }
	
</style>