<template>
	<span id="categoryList">
		<section class="content">
	      <div class="row justify-content-center mt-2">
	        <div class="col-lg-8 col-md-8">
	          <div class="card card-primary">
	            <div class="card-header">
	              <h3 class="card-title">Add New Category</h3>
	              
	            </div>
	            <!-- /.card-header -->
	            <form role="form" @submit.prevent="addCategory" @keydown="form.onKeydown($event)">
	                <div class="card-body">
	                  <div class="form-group">
	                    <label for="Category Name">Category Name</label>
	                    <input type="text" v-model="form.category_name" class="form-control" name="category_name" placeholder="Enter Category Name" :class="{ 'is-invalid': form.errors.has('category_name') }">
	                    <has-error :form="form" field="category_name"></has-error>
	                  </div>                  
	                </div>
	                <!-- /.card-body -->

	                <div class="card-footer">
	                  <button type="submit" class="btn btn-primary">Submit</button>
	                  <router-link to="/category" class="btn btn-info float-right">Cancel</router-link>
	                </div>
                </form>
	            <!-- /.card-body -->
	          </div>
	          <!-- /.card -->
	        </div>
	        <!-- /.col -->
	      </div>
      <!-- /.row -->
    </section>
	</span>
</template>

<script>
    export default{
        name: "New",
    	data(){
    		return {
               form: new Form({
                  category_name: '',

               })

    		}
    	},
    	methods:{
            addCategory(){
            	this.$Progress.start()
            	this.form.post('/add-category')
            	.then((response)=>{
                     console.log(response);
                     this.$router.push('category');
                     Toast.fire({
							icon: 'success',
							title: 'Category added successfully'
						})
                     this.$Progress.finish()
            	})
            	.catch(()=>{
                     this.$Progress.fail()
            	})
            }
    	}
    }

</script>


<style scoped>
	
</style>