<template>
    <div>
        <section class="content">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                   <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Our Staff List</h3>
                        <div class="card-tools">
                            <button class="btn btn-primary">
                              <router-link to="/add-staff" style="color:#fff">Add New </router-link>
                              <i class="fa fa-user-plus" aria-hidden="true"></i> 
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table id="example2"class="table table-bordered table-hover">
                           
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Staff Name</th>
                                    <th>Designation</th>
                                    <th>Photo</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(staff,index) in staffList" :key="staff.id">
                                    <td>{{index+1}}</td>
                                    <td>{{staff.name}}</td>
                                    <td>{{staff.designation}}</td>
                                    <td><img :src="uploadPhoto(staff.photo)" alt="" style="width:60%">
                                    </td>
                                    <td>{{staff.created_at}}</td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </div> 
                    
                  </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
   export default{
    data(){
        return{

        }
    },
    mounted(){
        this.$store.dispatch("allStaff")
    },
    computed:{
       staffList(){
          return this.$store.getters.getAllStaff;
       }
    },
    methods:{
       uploadPhoto(image){
          return "/image/staff/"+image;
       }
    }
   }
	
</script>
<style>
	
</style>