<template>
	<span id="categoryList">
		<section class="content">
	      <div class="row justify-content-center mt-2">
	        <div class="col-lg-8 col-md-8">
	          <div class="card card-primary">
	            <div class="card-header">
	              <h3 class="card-title">Add New Staffs</h3>
	              
	            </div>
	            <!-- /.card-header -->
	            <form role="form" @submit.prevent="addStaff" @keydown="form.onKeydown($event)" autocomplete="off">
	                <div class="card-body">
	                  <div class="form-group">
	                    <label for="Staff Name">Staff Name</label>
	                    <input type="text" v-model="form.name" class="form-control" name="name" placeholder="Enter Staff Name" :class="{ 'is-invalid': form.errors.has('name') }">
	                    <has-error :form="form" field="name"></has-error>
	                  </div>
	                  <div class="form-group">
	                    <label for="Staff Designation">Staff Designation</label>
	                    <input type="text" v-model="form.designation" class="form-control" name="designation" placeholder="Enter Staff designation" :class="{ 'is-invalid': form.errors.has('designation') }">
	                    <has-error :form="form" field="designation"></has-error>
	                  </div>	                  

	                  <div class="form-group">
	                    <label for="photo">Photo</label><br/>
			             <input @change="changePhoto($event)" type="file" name="photo" :class="{ 'is-invalid': form.errors.has('photo')}"> 
			             <has-error :form="form" field="photo"></has-error>
			                
	                   </div>
	                   <img :src="this.form.photo" alt="" width="120px">                 
	                </div>
	                <!-- /.card-body -->

	                <div class="card-footer">
	                  <button type="submit" class="btn btn-primary">Submit</button>
	                  <router-link to="/staff" class="btn btn-info float-right">Cancel</router-link>
	                </div>
                </form>
	            <!-- /.card-body -->
	          </div>
	          <!-- /.card -->
	        </div>
	        <!-- /.col -->
	      </div>
      <!-- /.row -->
    </section>
	</span>
</template>
<script>
	export default{
		data(){
			return{
				form: new Form({
					name:'',
					designation:'',
					photo:''

				})
			}
		},
		methods:{
			changePhoto(event){
			  let file = event.target.files[0];
			  if (file.size > 1048576) 
			  	{ 
			  	  event.preventDefault();
			  	  Swal.fire({
				  icon: 'error',
				  title: 'No File Choosen. Choose Another One',
				  text: 'Your File Should Not More Than 1Mb!',
				})
			  	  
			  	}else{
                   Swal.fire({
				  icon: 'success',
				  title: 'No File Successfully Choosen',
				  text: 'Your File Should Not More Than 1Mb!',
				})

			   let reader = new FileReader();
			  reader.onload = (e)=> {
			    // The file's text will be printed here
			    this.form.photo = e.target.result;
			    console.log(e.target.result)
			  };

			  reader.readAsDataURL(file);
			  	}
			  
			},
			addStaff(){
				this.$Progress.start()
				this.form.post('/add-staff')
				.then((response)=>{
                   this.$router.push('/staff');
                   Toast.fire({
					icon: 'success',
					title: 'Post added successfully'
				  })
                  
				})
				.catch(()=>{
                  this.$Progress.fail()
				})
			}

		}
	}
</script>
<style>
	
</style>