<template>
	<span>
		<section id="inner-headline">
	      <div class="container">
	        <div class="row">
	          <div class="span4">
	            <div class="inner-heading">
	              <h2>Blog Post</h2>
	            </div>
	          </div>
	          <div class="span8">
	            <ul class="breadcrumb">
	              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
	              <li class="active"><a href="#">Blog</a><i class="icon-angle-right"></i></li>
	             
	            </ul>
	          </div>
	        </div>
	      </div>
	    </section>
		<section id="content">
	      <div class="container">
	        <div class="row">
	          <div class="span8">
	      	
	            <article v-for="blogpost in getAllBlogPost" :key="blogpost.id">
	              <div class="row">
	                <div class="span8">
	                	
	                  <div class="post-image">
	                    <div class="post-heading">
	                      <h3><a href="#">{{blogpost.title}}</a></h3>
	                    </div>
	                    <img :src="`image/post/${blogpost.photo}`" alt="" style="height:300px;width:800px"/>
	                  </div>
	                  <p>{{blogpost.description}}</p>
	                  <div class="bottom-article">
	                    <ul class="meta-post">
	                      <li><i class="icon-calendar"></i><a href="#"> {{blogpost.user.created_at | dateFormat}}</a></li>
	                      <li><i class="icon-user"></i><a href="#"> {{blogpost.user.name}}</a></li>
	                      <li><i class="icon-folder-open"></i><a href="#" v-if="blogpost.category"> {{blogpost.category.category_name}}</a></li>
	                      
	                    </ul>
	                    <router-link :to="`/single-post/${blogpost.id}`" class="pull-right">Continue reading <i class="icon-angle-right"></i></router-link>
	                  </div>
	                </div>
	              </div>
	            </article>
	        	            
	            	            
	            <div id="pagination">
	              <span class="all">Page 1 of 3</span>
	              <span class="current">1</span>
	              <a href="#" class="inactive">2</a>
	              <a href="#" class="inactive">3</a>
	            </div>
	          </div>
	          
	          <Sidebar/>
	        </div>
	      </div>
	    </section>
	</span>
</template>
<script>
    import Sidebar from './sidebar.vue'
	export default{
		mounted(){
            this.$store.dispatch("allBlogPost")
		},
		components:{
            Sidebar
		},
		computed:{
            getAllBlogPost(){
              return this.$store.getters.getBlogPosts;	
            }
		},
		methods:{
           getPostBycategoryId(){
           	
           	if (this.$route.params.id !=null) {
           		this.$store.dispatch('categoryPostById',this.$route.params.id)
           	}else{

              this.$store.dispatch("allBlogPost")
           }
           	}

		},
		watch:{
			$route(to,form){
				this.getPostBycategoryId();
			}
		}
	}
</script>	
