<template>
	<span>
		<div class="span4">
        <aside class="right-sidebar">
          <div class="widget">
            <form class="form-search">
              <input placeholder="Type something" type="text" class="input-medium search-query">
              <button type="submit" class="btn btn-square btn-theme">Search</button>
            </form>
          </div>
          <div class="widget">
            <h5 class="widgetheading">Categories</h5>
            <ul class="cat">
              <li v-for="category in allCategory"><i class="icon-angle-right"></i><router-link :to="`/category-post/${category.id}`">{{category.category_name}}</router-link><span> (20)</span></li>
              
            </ul>
          </div>
          <div class="widget">
            <h5 class="widgetheading">Latest posts</h5>
            <ul class="recent">
              <li v-for="post in blogPost">
                <img :src="`image/post/${post.photo}`" class="pull-left" alt="" style="width:80px;height:70px"  />
                <h6><router-link :to="`/single-post/${post.id}`">{{post.title}}</router-link></h6>
                <p>
                  {{post.description | ShortLangth(100,'.......')}}
                </p>
              </li>
            </ul>
          </div>
        </aside>
      </div>
	</span>
</template>
<script>
	export default{
		mounted(){
			this.$store.dispatch("allBlogPost")
            this.$store.dispatch("getCategory")
		},
		computed:{
			allCategory(){
				return this.$store.getters.getAllCategory;
			},
			blogPost(){
				return this.$store.getters.getBlogPosts;
			}
		}
	}
</script>
<style>
  
	
</style>	