<template>
	<span>
		<section id="content">
      <div class="container">
        <div class="row">
          <div class="span8">
            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-image">
                    <div class="post-heading">
                      <h3><a href="#">{{getSinglePost.title}}</a></h3>
                    </div>
                    <img :src="`image/post/${getSinglePost.photo}`" alt="" style="height:300px;width:800px"/>
                  </div>
                  <p>
                    {{getSinglePost.description}}
                  </p>
                  <div class="bottom-article">
                    <ul class="meta-post">
                      <li v-if="getSinglePost.user"><i class="icon-calendar"></i><a href="#"> {{getSinglePost.user.created_at | dateFormat}}</a></li>
                      <li v-if="getSinglePost.user"><i class="icon-user"></i><a href="#"> {{getSinglePost.user.name}}</a></li>
                      <li v-if="getSinglePost.category"><i class="icon-folder-open"></i><a href="#"> {{getSinglePost.category.category_name}}</a></li>
                      
                    </ul>
                    
                  </div>
                </div>
              </div>
            </article>
                       
          </div>
                 
          <Sidebar/>
        </div>
      </div>
    </section>
	</span>
</template>
<script>
    import Sidebar from './sidebar.vue'
    export default{
    	mounted(){
             this.singlepost();
    	},
    	components:{
            Sidebar
		},    	
    	computed:{
            getSinglePost(){
            	return this.$store.getters.getAllSinglePost;
            }
    	},
    	methods:{
            singlepost(){
            	this.$store.dispatch('singlePost',this.$route.params.id)
            }
    	},
    	watch:{
    		$route(to,form){
    			this.singlepost();
    		}
    	}
    }
	
</script>
<style>
	
</style>
