<template>
    <div>
        <section class="content">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                   <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Our Recent Projects List</h3>
                        <div class="card-tools">
                            <button class="btn btn-primary">
                              <router-link to="/add-project" style="color:#fff">Add New </router-link>
                              <i class="fa fa-user-plus" aria-hidden="true"></i> 
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table id="example2"class="table table-bordered table-hover">
                         
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Project Title</th>
                                    <th>Photo</th>
                                    <th>Short Description</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(project,index) in getAllProject">
                                    <td>{{index+1}}</td>
                                    <td>{{project.project_title}}</td>
                                    <td><img :src="uploadImage(project.photo)" alt="" style="width:60%">
                                    </td>
                                    <td>{{project.description}}</td>
                                    <td>{{project.created_at}}</td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </div> 
                    
                  </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
	export default{
        data(){
            return{

            }
        },
        mounted(){
           this.$store.dispatch("allProject")
        },
        computed:{
           getAllProject(){
              return this.$store.getters.getAllProject;
           }
        },
        methods:{
            uploadImage(image){
               return "/image/project/"+image;
            }
        }
    }
</script>

<style>
    
</style>
