<template>
	<span id="categoryList">
		<section class="content">
	      <div class="row justify-content-center mt-2">
	        <div class="col-lg-8 col-md-8">
	          <div class="card card-primary">
	            <div class="card-header">
	              <h3 class="card-title">Add New Projects</h3>
	              
	            </div>
	            <!-- /.card-header -->
	            <form role="form" @submit.prevent="addProject" @keydown="form.onKeydown($event)" >
	                <div class="card-body">
	                  <div class="form-group">
	                    <label for="Project Name">Project Title</label>
	                    <input type="text" v-model="form.project_title" class="form-control" name="project_title" placeholder="Enter Project Title" :class="{ 'is-invalid': form.errors.has('project_title') }">
	                    <has-error :form="form" field="project_title"></has-error>
	                  </div>

	                  <div class="form-group">
	                    <label for="Project Short Description">Project Short Description</label>
	                    <textarea class="form-control" name="description" v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" rows="3"></textarea>
	                    
	                    <has-error :form="form" field="description"></has-error>
	                  </div> 

	                  <div class="form-group">
	                    <label for="photo">Photo</label><br/>
			             <input @change="changePhoto($event)" type="file" name="photo" :class="{ 'is-invalid': form.errors.has('photo')}"> 
			             <has-error :form="form" field="photo"></has-error>
			                
	                   </div>
	                   <img :src="this.form.photo" alt="" width="120px">                 
	                </div>
	                <!-- /.card-body -->

	                <div class="card-footer">
	                  <button type="submit" class="btn btn-primary">Submit</button>
	                  <router-link to="/project" class="btn btn-info float-right">Cancel</router-link>
	                </div>
                </form>
	            <!-- /.card-body -->
	          </div>
	          <!-- /.card -->
	        </div>
	        <!-- /.col -->
	      </div>
      <!-- /.row -->
    </section>
	</span>
</template>
<script>
	export default{
		data(){
			return{
				form: new Form({
				   project_title: '',
				   description:'',
				   photo:''
				}) 
			}
		},
		methods:{
			changePhoto(event){
			  let file = event.target.files[0];
			  if (file.size > 1048576) {
			  	event.preventDefault();
			  	Swal.fire({
				  icon: 'error',
				  title: 'No File Choosen. Choose Another One',
				  text: 'Your File Should Not More Than 1Mb!',
				})
                   
			  }else{

			  	Swal.fire({
				  icon: 'success',
				  title: 'File Successfully Choosen',
				  text: 'Now You Can Upload This Project Photo',
				})

			  	let reader = new FileReader();
			  reader.onload = (e)=> {
			    // The file's text will be printed here
			    this.form.photo = e.target.result;
			    console.log(e.target.result)
			  };

			  reader.readAsDataURL(file);

			  }
			  
			},
			addProject(){
				this.$Progress.start()
				this.form.post('/add-project')
				.then((response)=>{
                   this.$router.push('/project');
                   Toast.fire({
					icon: 'success',
					title: 'Post added successfully'
				  })
                   this.$Progress.finish()
				})
				.catch(()=>{
                   this.$Progress.fail()
				})
			}
		}
	}
</script>
<style>
	
</style>