<template>
	<span id="categoryList">
		<section class="content">
	      <div class="row justify-content-center mt-2">
	        <div class="col-lg-8 col-md-8">
	          <div class="card card-primary">
	            <div class="card-header">
	              <h3 class="card-title">Add New Client</h3>
	              
	            </div>
	            <!-- /.card-header -->
	            <form role="form" @submit.prevent="updateClient" @keydown="form.onKeydown($event)">
	                <div class="card-body">
	                  <div class="form-group">
	                    <label for="Client Name">Client Name</label>
	                    <input type="text" v-model="form.client_name" class="form-control" name="client_name" placeholder="Enter Client Name" :class="{ 'is-invalid': form.errors.has('client_name') }">
	                    <has-error :form="form" field="client_name"></has-error>
	                  </div> 
	                  <div class="form-group">
	                    <label for="photo">Photo</label><br/>
			             <input @change="changePhoto($event)" type="file" name="photo" :class="{ 'is-invalid': form.errors.has('photo')}"> 
			             <has-error :form="form" field="photo"></has-error>
			                
	                   </div>
	                   <img :src="uploadImage()" alt="" width="120px">                 
	                </div>
	                <!-- /.card-body -->

	                <div class="card-footer">
	                  <button type="submit" class="btn btn-primary">Submit</button>
	                  <router-link to="/client" class="btn btn-info float-right">Cancel</router-link>
	                </div>
                </form>
	            <!-- /.card-body -->
	          </div>
	          <!-- /.card -->
	        </div>
	        <!-- /.col -->
	      </div>
      <!-- /.row -->
    </section>
	</span>
</template>
<script>
	export default{
		data(){
			return{
				form :new Form({
       	 		client_name:'',
       	 		photo: ''
       	 		
       	 	})
			}
		},
		mounted(){
           axios.get(`/edit-client/${this.$route.params.id}`)
           .then((redponse)=>{
               this.form.fill(redponse.data.Client);
           })
           .catch()
		},
		computed:{

		},
		methods:{
			changePhoto(event){
               
               let file = event.target.files[0];
               if (file.size > 1048576) {
               	event.preventDefault();
               	Swal.fire({
				  icon: 'error',
				  title: 'No File Choosen. Choose Another One',
				  text: 'Your File Should Not More Than 1Mb!',
				})

               }else{
               	Swal.fire({
				  icon: 'success',
				  title: 'No File Successfully Choosen',
				  text: 'Your File Should Not More Than 1Mb!',
				})
               	let reader = new FileReader();
			  reader.onload = (e)=> {
			    // The file's text will be printed here
			    this.form.photo = e.target.result;
			    console.log(e.target.result)
			  };

			  reader.readAsDataURL(file);
			}               
           },
           uploadImage(){
           	 let image = this.form.photo;
           	 if (image.length > 1000) {
           	 	return this.form.photo;
           	 }else{
                return `/image/client/${this.form.photo}`;
           	 }
           },
           updateClient(){
	       	   this.$Progress.start()
	        	this.form.post(`/update-client/${this.$route.params.id}`)
	        	.then((response)=>{
	                this.$router.push('/client');
	                Toast.fire({
					icon: 'success',
					title: 'Client Updated successfully'
				   })
	                this.$Progress.finish()
	        	})
	        	.catch(()=>{
	               this.$Progress.fail()
	        	})
           }
		}

	}
</script>
<style>
	
</style>