<template>
    <div>
        <section class="content">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                   <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Our Clients List</h3>
                        <div class="card-tools">
                            <button class="btn btn-primary">
                              <router-link to="/add-client" style="color:#fff">Add New </router-link>
                              <i class="fa fa-user-plus" aria-hidden="true"></i> 
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table id="example2"class="table table-bordered table-hover">
                           
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Our Client Name</th>
                                    <th>Logo/Photo</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(client,index) in getClient" :key="client.id">
                                    <td>{{index+1}}</td>
                                    <td>{{client.client_name}}</td>
                                    <td><img :src="showImage(client.photo)" alt="" style="width:30%"></td>
                                    <td>{{client.created_at}}</td>
                                    <td>
                                        <router-link :to="`/edit-client/${client.id}`"><i class="fas fa-edit pink"></i></router-link> ||
	                  	                 <a href="" @click.prevent="deleteClient(client.id)"><i class="fa fa-trash red" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </div> 
                    
                  </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
	export default{
		mounted(){
            this.$store.dispatch('clientList')
		},
		computed:{
           getClient(){
           	  return this.$store.getters.getAllClient;
           }
		},
		methods:{
           showImage(image){
              return "image/client/"+image;
           },
           deleteClient(id){
            this.$Progress.start()
           	Swal.fire({
  			  title: 'Are you sure?',
  			  text: "You won't be able to revert this!",
  			  icon: 'warning',
  			  showCancelButton: true,
  			  confirmButtonColor: '#3085d6',
  			  cancelButtonColor: '#d33',
  			  confirmButtonText: 'Yes, delete it!'
  			}).then((result) => {
			  if (result.value) {
			  	axios.get('/delete-client/'+id)
         	.then(()=>{
               this.$store.dispatch('clientList')
                Swal.fire(
      			      'Deleted!',
      			      'Your file has been deleted.',
      			      'success'
      			    )
              this.$Progress.finish()  
         	})
         	   
         	.catch(()=>{
               this.$Progress.fail()
         	})   
			  }
			})
            }
		}
	}

</script>
<style></style>
